{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoquecambia %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppCoder/assets/3176238.png' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Busqueda</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span></span>
                </div>
                <p class="lead">entendemos que la búsqueda del producto perfecto puede ser emocionante y desafiante al mismo tiempo. Estamos aquí para hacer que esa búsqueda sea más fácil, emocionante y satisfactoria. Nuestra plataforma está diseñada para ayudarte a explorar una amplia variedad de productos.</p>
                <div class="d-flex">
                   
                    
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}
{% block formulariocambiante %}


    <div class="container text-center">

        <h5>Buscar </h5>

        <form action="{% url 'buscarProducto' %}" method="GET">

            <input type="text" name="producto" id="producto">
            <input type="submit" value="Enviar">

        </form>

    </div>
    
{% endblock %}