{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoquecambia %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppCoder/assets//entrevista-1.jpg' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Atencion al Cliente</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span></span>
                </div>
                <p class="lead">Estamos emocionados de tenerte aquí y estamos comprometidos a brindarte la mejor experiencia posible. Nuestro equipo de atención al cliente está listo para ayudarte en todo lo que necesites. Ya sea que tengas preguntas sobre nuestros productos, necesites asistencia técnica o simplemente desees obtener más información, estamos aquí para ti.</p>
                <div class="d-flex">
                   
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}


{% block formulariocambiante %}

<table class="table table-bordered">

    <tr>
        <td colspan="4"><b>Clientes</b></td>
        <td class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="{% url 'clientesFormulario' %}">NUEVO</a>
        </td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Dni</td>
        <td>Email</td>
    </tr>

{% if clientes %}

    {% for cliente in clientes %}            

        <tr>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.email }}</td>
        </tr>


    {% endfor %}

{% endif %}

</table>
{% endblock %}