{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoquecambia %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppCoder/assets//pngtree-sporta-lot-of-balls-and-stuff-glove-puck-soccer-photo-image_16837276.jpg' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Tienda de ventas</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span></span>
                </div>
                <p class="lead">Bienvenido al sitio de ventas, donde podras explorar todos los productos deportivos</p>
                <div class="d-flex">
                    
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

