{% extends 'AppCoder/padre.html' %}

{% load static %}

{% block contenidoquecambia %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppCoder/assets/1366_2000.png' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Catalogo de Marcas</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span></span>
                </div>
                <p class="lead">nos complace presentarte una selección cuidadosamente curada de las marcas más destacadas y apreciadas en el mercado. Estamos emocionados de ofrecerte una experiencia de compra única, donde la calidad y la variedad se encuentran en un solo lugar.</p>
                <div class="d-flex">
                   
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}


{% block formulariocambiante %}

<table class="table table-bordered">

    <tr>
        <td><b>Marcas</b></td>
        <td class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="{% url 'marcasFormulario' %}">NUEVO</a>
        </td>
    </tr>

    <tr>
        <td>Id</td>
        <td>Nombre</td>
    </tr>

{% if marcas %}

    {% for marca in marcas %}            

        <tr>
            <td>{{ marca.id }}</td>
            <td>{{ marca.nombre }}</td>
        </tr>


    {% endfor %}

{% endif %}

</table>

{% endblock %}




