{% extends 'AppCoder/padre.html' %}

{% load static %}


{% block contenidoquecambia %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'AppCoder/assets/Diseno-sin-titulo-2021-05-13T140159.746-890x606.webp' %}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">nuestro Productos</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through"></span>
                    <span></span>
                </div>
                <p class="lead">estamos encantados de tenerte aquí. Nuestra misión es ofrecerte una experiencia de compra en línea que sea tan emocionante como fácil. Nos enorgullece presentarte una cuidada selección de productos de alta calidad, desde ropa deportiva, hasta artículos para ejercitarse en el hogar y mucho más.

                </p>
                <div class="d-flex">
                    
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block formulariocambiante %}

<table class="table table-bordered">

    <tr>
        <td colspan="2"><b>Productos</b></td>
        <td class="d-flex justify-content-end">
            <a class="btn btn-primary btn-sm" href="{% url 'productosFormulario' %}">NUEVO</a>
        </td>
    </tr>

    <tr>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Stock</td>
    </tr>

{% if productos %}

    {% for producto in productos %}            

        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
        </tr>


    {% endfor %}

{% endif %}

</table>
{% endblock %}


